@using MyResumeWebsite.Models.Entity
@model List<Educations>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="col-md-12">
    <div class="card card-secondary">
        <div class="card-header">
            <h3 class="card-title" style="font-size: 1.5rem !important;">My Educations</h3>
            <div class="card-tools">
                <a class="btn btn-primary btn-sm" href="/Education/Add">
                    <i class="fas fa-plus">
                    </i>
                    Add New Education
                </a>
            </div>

        </div>
        <div class="card-body table-responsive">
            <table id="datatable" class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Department</th>
                        <th>School Name</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ID</td>
                            <td>@item.Department</td>
                            <td>@item.SchoolName</td>
                            <td>@item.Date</td>
                            <td>
                                @{
                                    var description = item.Description;
                                    if (!string.IsNullOrEmpty(description))
                                    {
                                        if (description.Length > 30)
                                        {
                                            description = description.Substring(0, 30) + "...";
                                        }
                                    }
                                }
                                @description
                            </td>
                            <td>@(item.Status.HasValue ? (item.Status.Value ? "Active" : "Passive") : "Unknown")</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="/Education/Edit/@item.ID">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-success btn-sm" href="/Education/Active/@item.ID">
                                    <i class="fas fa-check"></i>
                                    Active
                                </a>
                                <a class="btn btn-warning btn-sm" href="/Education/Passive/@item.ID">
                                    <i class="fas fa-archive"></i>
                                    Passive
                                </a>
                                <a class="btn btn-danger btn-sm" href="/Education/Delete/@item.ID">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>